body{
  margin: 0 0;
}

/* header */

header{
  padding-bottom: 2rem;
}

/* Navigation Bar */

.navbar {
  padding:  2rem 2rem;
  background-color:#fdfaf6;
  
}

.navbar-brand{
  font-family: 'Style Script', cursive;
}

.navigation-text{
  border-right-style: solid;
  border-right-width: 3px;
}

.nav-link:hover{
  color:red;
}
/* introduction Section */

img{
  height:auto;
  width:100%;
}

.intro-header{
  font-size: 6rem;
}
#Resume{
  text-align: center;
  padding: 5rem 0;
}

hr {
  border-bottom-style:dotted;
  border-color: #000000;
  border-bottom-width: thick;
  width: 7%;
  margin: 50px auto;
}

/* Footer Section */

footer {
  text-align: center;
  padding: 5rem 7rem 0 7rem;
  background-color:#fdfaf6;
}

.social-icon {
    margin: 20px 10px;
    color: #000000;
  }

.fa-angle-double-up{
  font-size: 3rem;
}

.go-up{
  position: absolute;
  right: 0;
}

/* media query for 768px and smaller */
@media only screen and (max-width:768px) {

  h1 h4{
    text-align: center;
  }

  .dev-title{
    align-items: center;
  }

  dl{
    padding-left: 2rem;
  }
  .go-up{
    display: none;
  }

  footer {
    text-align: center;
    padding: 1rem 1rem;
  }
    .internship-link{
      width: -75%;
      height: -75%;
    }

}

@media only screen and (max-width:320px){
  .navbar{
    padding:0;
  } 

  li{
    align-items: center;
  }

  img{
    padding-top:10px;
  }

  #Resume{
    text-align: center;
    padding: 2rem 0;
  }

}